@use 'sass:math';

// --- Stripe Styling: Sizes ---

$dashed-inset: 1px !default;
$dashed-width: 1px !default;
$stripe-padding: 6px !default;
$text1-size: 8px !default;
$text2-size: 14px !default;

/**
 * Note: This shouldn't have to be changed unless $from-corner is set to a very large value.
 */
$stripe-length: 250px !default;

// --- Stripe Styling: Colors ---

$text-color: var(--light) !default;
$stripe-color: var(--gray) !default;

/**
 * Set to null to use same color as $stripe-color
 */
$stripe-color-hover: var(--dark) !default;
$stripe-texture: url(images/seamless_paper_texture-mask.png) !default;

/**
 * Set to null to use the same texture as $stripe-texture.
 */
$stripe-texture-hover: null !default;

// --- Placement ---

$from-corner: 20px !default;

/**
 * Set this to 0 to disable the wraparound effect.
 */
$overlap: 8px !default;

/**
 * Z-index for things that are to appear below the thing this will wrap around
 */
$z-index-below: -1 !default;
$z-index-above: 10 !default;

// --- Effects ---
$hover-scale: 1.04 !default;

$shift-from-corner-top: $from-corner * math.sqrt(2);

a {
    // XXX this is only correct if line-height = 1
    $stripe-height: ($dashed-inset + $dashed-width + $stripe-padding) * 2 + $text1-size + $text2-size;

    $dim: $shift-from-corner-top * 2 + $stripe-height * math.sqrt(2);
    text-decoration: none !important;
    position: absolute;
    top: -$overlap;
    height: $dim;
    width: $dim;
    overflow: hidden;
    transition: all 0.1s ease-in;

    @if ($hover-scale != 1) {
        &:hover {
            transform: scale(#{$hover-scale});
        }
    }

    @if ($overlap > 0) {
        // "Wraparound" effect
        &::after,
        &::before {
            content: '';
            bottom: 0;
            display: block;
            position: absolute;
            z-index: $z-index-below;
            @if ($stripe-texture) {
                background-image: $stripe-texture;
            }
            @if ($stripe-color) {
                background-color: $stripe-color;
            }
        }
        &::after {
            height: $overlap * math.sqrt(2);
            width: $overlap * 1.5;
            mask-image: linear-gradient(270deg, black 50%, transparent 100%);
        }
        &::before {
            height: $overlap * 1.5;
            width: $overlap * math.sqrt(2);
            top: 0;
            mask-image: linear-gradient(180deg, black 50%, transparent 100%);
        }
    }

    &.right {
        right: -$overlap;
        @if ($overlap > 0) {
            // "Wraparound" effect
            &::after {
                right: 0;
            }
            &::before {
                left: 0;
            }
        }

        // Apply stripe rotation and positioning
        .stripe {
            right: -$stripe-length / 2;
            transform:
                translate(-#{$shift-from-corner-top}, #{$shift-from-corner-top})
                rotate(45deg);
        }

    }

    &.left {
        left: -$overlap;

        @if ($overlap > 0) {
            // "Wraparound" effect
            &::after {
                left: 0;
                mask-image: linear-gradient(90deg, black 50%, transparent 100%);
            }
            &::before {
                right: 0;
            }
        }

        // Apply stripe rotation and positioning
        .stripe {
            left: -$stripe-length / 2;
            transform:
                translate(#{$shift-from-corner-top}, #{$shift-from-corner-top})
                rotate(315deg);
        }
    }

    &:hover {
        @if ($overlap > 0) {
            // "Wraparound" effect
            &::after,
            &::before {
                @if ($stripe-color-hover) {
                    background-color: $stripe-color-hover;
                }
                @if ($stripe-texture-hover) {
                    background-image: $stripe-texture-hover;
                }
            }
        }
        .stripe {
            @if ($stripe-color-hover) {
                background-color: $stripe-color-hover;
            }
            @if ($stripe-texture-hover) {
                background-image: $stripe-texture-hover;
            }
        }
    }

    .stripe {
        line-height: 1;
        position: absolute;
        @if ($dashed-width) {
            border-bottom: $dashed-width dashed white;
            border-top: $dashed-width dashed white;
        }
        top: 0;
        box-shadow: 0 0 4px 1px var(--light);
        color: $text-color;
        font-weight: bold;
        @if ($dashed-inset) {
            @if ($stripe-color) {
                outline: $dashed-inset solid $stripe-color;
            }
        }
        padding: $stripe-padding 0;
        text-align: center;
        transform-origin: top center;
        width: $stripe-length;
        z-index: $z-index-above;
        @if ($stripe-texture) {
            background-image: $stripe-texture;
        }
        @if ($stripe-color) {
            background-color: $stripe-color;
        }
    }

}

.text1 {
    font-size: $text1-size;
}

.text2 {
    font-size: $text2-size;
}
