.container {
    padding-right: 8px;
    padding-left: 8px;

    @media (min-width: 576px) {
        max-width: 480px;
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-right: 8px;
    padding-left: 8px;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 480px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px;
    }
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: 8px;
    padding-left: 8px;
}

.m-1 {
    margin: 14px 8px !important;
}
.mt-1,
.my-1,
.mt-2,
.my-2,
.mt-3,
.my-3,
.mt-4,
.my-4,
.mt-5,
.my-5 {
    margin-top: 14px 8px !important;
}

.mr-1,
.mx-1 {
    margin-right: 14px 8px !important;
}
.mb-1,
.my-1 {
    margin-bottom: 14px 8px !important;
}
.ml-1,
.mx-1 {
    margin-left: 14px 8px !important;
}
.m-2 {
    margin: 14px 8px !important;
}
.mr-2,
.mx-2 {
    margin-right: 14px 8px !important;
}
.mb-2,
.my-2 {
    margin-bottom: 14px 8px !important;
}
.ml-2,
.mx-2 {
    margin-left: 14px 8px !important;
}
.m-3 {
    margin: 14px 8px !important;
}
.mr-3,
.mx-3 {
    margin-right: 14px 8px !important;
}

.mb-3,
.my-3 {
    margin-bottom: 14px 8px !important;
}

.ml-3,
.mx-3 {
    margin-left: 14px 8px !important;
}

.m-4 {
    margin: 14px 8px !important;
}

.mr-4,
.mx-4 {
    margin-right: 14px 8px !important;
}

.mb-4,
.my-4 {
    margin-bottom: 14px 8px !important;
}

.ml-4,
.mx-4 {
    margin-left: 14px 8px !important;
}

.m-5 {
    margin: 14px 8px !important;
}

.mr-5,
.mx-5 {
    margin-right: 14px 8px !important;
}

.mb-5,
.my-5 {
    margin-bottom: 14px 8px !important;
}

.ml-5,
.mx-5 {
    margin-left: 14px 8px !important;
}

.p-1 {
    padding: 14px 8px !important;
}


.pt-1,
.py-1 {
    padding-top: 14px 8px !important;
}

.pr-1,
.px-1 {
    padding-right: 14px 8px !important;
}

.pb-1,
.py-1 {
    padding-bottom: 14px 8px !important;
}

.pl-1,
.px-1 {
    padding-left: 14px 8px !important;
}

.p-2 {
    padding: 14px 8px !important;
}

.pt-2,
.py-2 {
    padding-top: 14px 8px !important;
}

.pr-2,
.px-2 {
    padding-right: 14px 8px !important;
}

.pb-2,
.py-2 {
    padding-bottom: 14px 8px !important;
}

.pl-2,
.px-2 {
    padding-left: 14px 8px !important;
}

.p-3 {
    padding: 14px 8px !important;
}

.pt-3,
.py-3 {
    padding-top: 14px 8px !important;
}

.pr-3,
.px-3 {
    padding-right: 14px 8px !important;
}

.pb-3,
.py-3 {
    padding-bottom: 14px 8px !important;
}

.pl-3,
.px-3 {
    padding-left: 14px 8px !important;
}

.p-4 {
    padding: 14px 8px !important;
}

.pt-4,
.py-4 {
    padding-top: 14px 8px !important;
}

.pr-4,
.px-4 {
    padding-right: 14px 8px !important;
}

.pb-4,
.py-4 {
    padding-bottom: 14px 8px !important;
}

.pl-4,
.px-4 {
    padding-left: 14px 8px !important;
}

.p-5 {
    padding: 14px 8px !important;
}

.pt-5,
.py-5 {
    padding-top: 14px 8px !important;
}

.pr-5,
.px-5 {
    padding-right: 14px 8px !important;
}

.pb-5,
.py-5 {
    padding-bottom: 14px 8px !important;
}

.pl-5,
.px-5 {
    padding-left: 14px 8px !important;
}

.m-n1 {
    margin: -14px 8px !important;
}

.mt-n1,
.my-n1,
.mt-n2,
.my-n2,
.mt-n3,
.my-n3,
.mt-n4,
.my-n4,
.mt-n5,
.my-n5 {
    margin-top: -14px 8px !important;
}

.mr-n1,
.mx-n1 {
    margin-right: -14px 8px !important;
}

.mb-n1,
.my-n1 {
    margin-bottom: -14px 8px !important;
}

.ml-n1,
.mx-n1 {
    margin-left: -14px 8px !important;
}

.m-n2 {
    margin: -14px 8px !important;
}

.mr-n2,
.mx-n2 {
    margin-right: -14px 8px !important;
}

.mb-n2,
.my-n2 {
    margin-bottom: -14px 8px !important;
}

.ml-n2,
.mx-n2 {
    margin-left: -14px 8px !important;
}

.m-n3 {
    margin: -14px 8px !important;
}

.mr-n3,
.mx-n3 {
    margin-right: -14px 8px !important;
}

.mb-n3,
.my-n3 {
    margin-bottom: -14px 8px !important;
}

.ml-n3,
.mx-n3 {
    margin-left: -14px 8px !important;
}

.m-n4 {
    margin: -14px 8px !important;
}

.mr-n4,
.mx-n4 {
    margin-right: -14px 8px !important;
}

.mb-n4,
.my-n4 {
    margin-bottom: -14px 8px !important;
}

.ml-n4,
.mx-n4 {
    margin-left: -14px 8px !important;
}

.m-n5 {
    margin: -14px 8px !important;
}

.mr-n5,
.mx-n5 {
    margin-right: -14px 8px !important;
}

.mb-n5,
.my-n5 {
    margin-bottom: -14px 8px !important;
}

.ml-n5,
.mx-n5 {
    margin-left: -14px 8px !important;
}

@media (min-width: 576px) {
    .m-sm-1 {
        margin: 14px 8px !important;
    }
    .mt-sm-1,
    .my-sm-1,
    .mt-sm-2,
    .my-sm-2,
    .mt-sm-3,
    .my-sm-3,
    .mt-sm-4,
    .my-sm-4,
    .mt-sm-5,
    .my-sm-5 {
        margin-top: 14px 8px !important;
    }
    .mr-sm-1,
    .mx-sm-1 {
        margin-right: 14px 8px !important;
    }
    .mb-sm-1,
    .my-sm-1 {
        margin-bottom: 14px 8px !important;
    }
    .ml-sm-1,
    .mx-sm-1 {
        margin-left: 14px 8px !important;
    }
    .m-sm-2 {
        margin: 14px 8px !important;
    }
    .mr-sm-2,
    .mx-sm-2 {
        margin-right: 14px 8px !important;
    }
    .mb-sm-2,
    .my-sm-2 {
        margin-bottom: 14px 8px !important;
    }
    .ml-sm-2,
    .mx-sm-2 {
        margin-left: 14px 8px !important;
    }
    .m-sm-3 {
        margin: 14px 8px !important;
    }
    .mr-sm-3,
    .mx-sm-3 {
        margin-right: 14px 8px !important;
    }
    .mb-sm-3,
    .my-sm-3 {
        margin-bottom: 14px 8px !important;
    }
    .ml-sm-3,
    .mx-sm-3 {
        margin-left: 14px 8px !important;
    }
    .m-sm-4 {
        margin: 14px 8px !important;
    }
    .mr-sm-4,
    .mx-sm-4 {
        margin-right: 14px 8px !important;
    }
    .mb-sm-4,
    .my-sm-4 {
        margin-bottom: 14px 8px !important;
    }
    .ml-sm-4,
    .mx-sm-4 {
        margin-left: 14px 8px !important;
    }
    .m-sm-5 {
        margin: 14px 8px !important;
    }
    .mr-sm-5,
    .mx-sm-5 {
        margin-right: 14px 8px !important;
    }
    .mb-sm-5,
    .my-sm-5 {
        margin-bottom: 14px 8px !important;
    }
    .ml-sm-5,
    .mx-sm-5 {
        margin-left: 14px 8px !important;
    }
    .p-sm-1 {
        padding: 14px 8px !important;
    }
    .pt-sm-1,
    .py-sm-1 {
        padding-top: 14px 8px !important;
    }
    .pr-sm-1,
    .px-sm-1 {
        padding-right: 14px 8px !important;
    }
    .pb-sm-1,
    .py-sm-1 {
        padding-bottom: 14px 8px !important;
    }
    .pl-sm-1,
    .px-sm-1 {
        padding-left: 14px 8px !important;
    }
    .p-sm-2 {
        padding: 14px 8px !important;
    }
    .pt-sm-2,
    .py-sm-2 {
        padding-top: 14px 8px !important;
    }
    .pr-sm-2,
    .px-sm-2 {
        padding-right: 14px 8px !important;
    }
    .pb-sm-2,
    .py-sm-2 {
        padding-bottom: 14px 8px !important;
    }
    .pl-sm-2,
    .px-sm-2 {
        padding-left: 14px 8px !important;
    }
    .p-sm-3 {
        padding: 14px 8px !important;
    }
    .pt-sm-3,
    .py-sm-3 {
        padding-top: 14px 8px !important;
    }
    .pr-sm-3,
    .px-sm-3 {
        padding-right: 14px 8px !important;
    }
    .pb-sm-3,
    .py-sm-3 {
        padding-bottom: 14px 8px !important;
    }
    .pl-sm-3,
    .px-sm-3 {
        padding-left: 14px 8px !important;
    }
    .p-sm-4 {
        padding: 14px 8px !important;
    }
    .pt-sm-4,
    .py-sm-4 {
        padding-top: 14px 8px !important;
    }
    .pr-sm-4,
    .px-sm-4 {
        padding-right: 14px 8px !important;
    }
    .pb-sm-4,
    .py-sm-4 {
        padding-bottom: 14px 8px !important;
    }
    .pl-sm-4,
    .px-sm-4 {
        padding-left: 14px 8px !important;
    }
    .p-sm-5 {
        padding: 14px 8px !important;
    }
    .pt-sm-5,
    .py-sm-5 {
        padding-top: 14px 8px !important;
    }
    .pr-sm-5,
    .px-sm-5 {
        padding-right: 14px 8px !important;
    }
    .pb-sm-5,
    .py-sm-5 {
        padding-bottom: 14px 8px !important;
    }
    .pl-sm-5,
    .px-sm-5 {
        padding-left: 14px 8px !important;
    }
    .m-sm-n1 {
        margin: -14px 8px !important;
    }
    .mt-sm-n1,
    .my-sm-n1 {
        margin-top: -14px 8px !important;
    }
    .mr-sm-n1,
    .mx-sm-n1 {
        margin-right: -14px 8px !important;
    }
    .mb-sm-n1,
    .my-sm-n1 {
        margin-bottom: -14px 8px !important;
    }
    .ml-sm-n1,
    .mx-sm-n1 {
        margin-left: -14px 8px !important;
    }
    .m-sm-n2 {
        margin: -14px 8px !important;
    }
    .mt-sm-n2,
    .my-sm-n2 {
        margin-top: -14px 8px !important;
    }
    .mr-sm-n2,
    .mx-sm-n2 {
        margin-right: -14px 8px !important;
    }
    .mb-sm-n2,
    .my-sm-n2 {
        margin-bottom: -14px 8px !important;
    }
    .ml-sm-n2,
    .mx-sm-n2 {
        margin-left: -14px 8px !important;
    }
    .m-sm-n3 {
        margin: -14px 8px !important;
    }
    .mt-sm-n3,
    .my-sm-n3 {
        margin-top: -14px 8px !important;
    }
    .mr-sm-n3,
    .mx-sm-n3 {
        margin-right: -14px 8px !important;
    }
    .mb-sm-n3,
    .my-sm-n3 {
        margin-bottom: -14px 8px !important;
    }
    .ml-sm-n3,
    .mx-sm-n3 {
        margin-left: -14px 8px !important;
    }
    .m-sm-n4 {
        margin: -14px 8px !important;
    }
    .mt-sm-n4,
    .my-sm-n4 {
        margin-top: -14px 8px !important;
    }
    .mr-sm-n4,
    .mx-sm-n4 {
        margin-right: -14px 8px !important;
    }
    .mb-sm-n4,
    .my-sm-n4 {
        margin-bottom: -14px 8px !important;
    }
    .ml-sm-n4,
    .mx-sm-n4 {
        margin-left: -14px 8px !important;
    }
    .m-sm-n5 {
        margin: -14px 8px !important;
    }
    .mt-sm-n5,
    .my-sm-n5 {
        margin-top: -14px 8px !important;
    }
    .mr-sm-n5,
    .mx-sm-n5 {
        margin-right: -14px 8px !important;
    }
    .mb-sm-n5,
    .my-sm-n5 {
        margin-bottom: -14px 8px !important;
    }
    .ml-sm-n5,
    .mx-sm-n5 {
        margin-left: -14px 8px !important;
    }
}

@media (min-width: 768px) {
    .m-md-1 {
        margin: 14px 8px !important;
    }
    .mt-md-1,
    .my-md-1 {
        margin-top: 14px 8px !important;
    }
    .mr-md-1,
    .mx-md-1 {
        margin-right: 14px 8px !important;
    }
    .mb-md-1,
    .my-md-1 {
        margin-bottom: 14px 8px !important;
    }
    .ml-md-1,
    .mx-md-1 {
        margin-left: 14px 8px !important;
    }
    .m-md-2 {
        margin: 14px 8px !important;
    }
    .mt-md-2,
    .my-md-2 {
        margin-top: 14px 8px !important;
    }
    .mr-md-2,
    .mx-md-2 {
        margin-right: 14px 8px !important;
    }
    .mb-md-2,
    .my-md-2 {
        margin-bottom: 14px 8px !important;
    }
    .ml-md-2,
    .mx-md-2 {
        margin-left: 14px 8px !important;
    }
    .m-md-3 {
        margin: 14px 8px !important;
    }
    .mt-md-3,
    .my-md-3 {
        margin-top: 14px 8px !important;
    }
    .mr-md-3,
    .mx-md-3 {
        margin-right: 14px 8px !important;
    }
    .mb-md-3,
    .my-md-3 {
        margin-bottom: 14px 8px !important;
    }
    .ml-md-3,
    .mx-md-3 {
        margin-left: 14px 8px !important;
    }
    .m-md-4 {
        margin: 14px 8px !important;
    }
    .mt-md-4,
    .my-md-4 {
        margin-top: 14px 8px !important;
    }
    .mr-md-4,
    .mx-md-4 {
        margin-right: 14px 8px !important;
    }
    .mb-md-4,
    .my-md-4 {
        margin-bottom: 14px 8px !important;
    }
    .ml-md-4,
    .mx-md-4 {
        margin-left: 14px 8px !important;
    }
    .m-md-5 {
        margin: 14px 8px !important;
    }
    .mt-md-5,
    .my-md-5 {
        margin-top: 14px 8px !important;
    }
    .mr-md-5,
    .mx-md-5 {
        margin-right: 14px 8px !important;
    }
    .mb-md-5,
    .my-md-5 {
        margin-bottom: 14px 8px !important;
    }
    .ml-md-5,
    .mx-md-5 {
        margin-left: 14px 8px !important;
    }
    .p-md-1 {
        padding: 14px 8px !important;
    }
    .pt-md-1,
    .py-md-1 {
        padding-top: 14px 8px !important;
    }
    .pr-md-1,
    .px-md-1 {
        padding-right: 14px 8px !important;
    }
    .pb-md-1,
    .py-md-1 {
        padding-bottom: 14px 8px !important;
    }
    .pl-md-1,
    .px-md-1 {
        padding-left: 14px 8px !important;
    }
    .p-md-2 {
        padding: 14px 8px !important;
    }
    .pt-md-2,
    .py-md-2 {
        padding-top: 14px 8px !important;
    }
    .pr-md-2,
    .px-md-2 {
        padding-right: 14px 8px !important;
    }
    .pb-md-2,
    .py-md-2 {
        padding-bottom: 14px 8px !important;
    }
    .pl-md-2,
    .px-md-2 {
        padding-left: 14px 8px !important;
    }
    .p-md-3 {
        padding: 14px 8px !important;
    }
    .pt-md-3,
    .py-md-3 {
        padding-top: 14px 8px !important;
    }
    .pr-md-3,
    .px-md-3 {
        padding-right: 14px 8px !important;
    }
    .pb-md-3,
    .py-md-3 {
        padding-bottom: 14px 8px !important;
    }
    .pl-md-3,
    .px-md-3 {
        padding-left: 14px 8px !important;
    }
    .p-md-4 {
        padding: 14px 8px !important;
    }
    .pt-md-4,
    .py-md-4 {
        padding-top: 14px 8px !important;
    }
    .pr-md-4,
    .px-md-4 {
        padding-right: 14px 8px !important;
    }
    .pb-md-4,
    .py-md-4 {
        padding-bottom: 14px 8px !important;
    }
    .pl-md-4,
    .px-md-4 {
        padding-left: 14px 8px !important;
    }
    .p-md-5 {
        padding: 14px 8px !important;
    }
    .pt-md-5,
    .py-md-5 {
        padding-top: 14px 8px !important;
    }
    .pr-md-5,
    .px-md-5 {
        padding-right: 14px 8px !important;
    }
    .pb-md-5,
    .py-md-5 {
        padding-bottom: 14px 8px !important;
    }
    .pl-md-5,
    .px-md-5 {
        padding-left: 14px 8px !important;
    }
    .m-md-n1 {
        margin: -14px 8px !important;
    }
    .mt-md-n1,
    .my-md-n1 {
        margin-top: -14px 8px !important;
    }
    .mr-md-n1,
    .mx-md-n1 {
        margin-right: -14px 8px !important;
    }
    .mb-md-n1,
    .my-md-n1 {
        margin-bottom: -14px 8px !important;
    }
    .ml-md-n1,
    .mx-md-n1 {
        margin-left: -14px 8px !important;
    }
    .m-md-n2 {
        margin: -14px 8px !important;
    }
    .mt-md-n2,
    .my-md-n2 {
        margin-top: -14px 8px !important;
    }
    .mr-md-n2,
    .mx-md-n2 {
        margin-right: -14px 8px !important;
    }
    .mb-md-n2,
    .my-md-n2 {
        margin-bottom: -14px 8px !important;
    }
    .ml-md-n2,
    .mx-md-n2 {
        margin-left: -14px 8px !important;
    }
    .m-md-n3 {
        margin: -14px 8px !important;
    }
    .mt-md-n3,
    .my-md-n3 {
        margin-top: -14px 8px !important;
    }
    .mr-md-n3,
    .mx-md-n3 {
        margin-right: -14px 8px !important;
    }
    .mb-md-n3,
    .my-md-n3 {
        margin-bottom: -14px 8px !important;
    }
    .ml-md-n3,
    .mx-md-n3 {
        margin-left: -14px 8px !important;
    }
    .m-md-n4 {
        margin: -14px 8px !important;
    }
    .mt-md-n4,
    .my-md-n4 {
        margin-top: -14px 8px !important;
    }
    .mr-md-n4,
    .mx-md-n4 {
        margin-right: -14px 8px !important;
    }
    .mb-md-n4,
    .my-md-n4 {
        margin-bottom: -14px 8px !important;
    }
    .ml-md-n4,
    .mx-md-n4 {
        margin-left: -14px 8px !important;
    }
    .m-md-n5 {
        margin: -14px 8px !important;
    }
    .mt-md-n5,
    .my-md-n5 {
        margin-top: -14px 8px !important;
    }
    .mr-md-n5,
    .mx-md-n5 {
        margin-right: -14px 8px !important;
    }
    .mb-md-n5,
    .my-md-n5 {
        margin-bottom: -14px 8px !important;
    }
    .ml-md-n5,
    .mx-md-n5 {
        margin-left: -14px 8px !important;
    }
}

@media (min-width: 992px) {
    .m-lg-1 {
        margin: 14px 8px !important;
    }
    .mt-lg-1,
    .my-lg-1 {
        margin-top: 14px 8px !important;
    }
    .mr-lg-1,
    .mx-lg-1 {
        margin-right: 14px 8px !important;
    }
    .mb-lg-1,
    .my-lg-1 {
        margin-bottom: 14px 8px !important;
    }
    .ml-lg-1,
    .mx-lg-1 {
        margin-left: 14px 8px !important;
    }
    .m-lg-2 {
        margin: 14px 8px !important;
    }
    .mt-lg-2,
    .my-lg-2 {
        margin-top: 14px 8px !important;
    }
    .mr-lg-2,
    .mx-lg-2 {
        margin-right: 14px 8px !important;
    }
    .mb-lg-2,
    .my-lg-2 {
        margin-bottom: 14px 8px !important;
    }
    .ml-lg-2,
    .mx-lg-2 {
        margin-left: 14px 8px !important;
    }
    .m-lg-3 {
        margin: 14px 8px !important;
    }
    .mt-lg-3,
    .my-lg-3 {
        margin-top: 14px 8px !important;
    }
    .mr-lg-3,
    .mx-lg-3 {
        margin-right: 14px 8px !important;
    }
    .mb-lg-3,
    .my-lg-3 {
        margin-bottom: 14px 8px !important;
    }
    .ml-lg-3,
    .mx-lg-3 {
        margin-left: 14px 8px !important;
    }
    .m-lg-4 {
        margin: 14px 8px !important;
    }
    .mt-lg-4,
    .my-lg-4 {
        margin-top: 14px 8px !important;
    }
    .mr-lg-4,
    .mx-lg-4 {
        margin-right: 14px 8px !important;
    }
    .mb-lg-4,
    .my-lg-4 {
        margin-bottom: 14px 8px !important;
    }
    .ml-lg-4,
    .mx-lg-4 {
        margin-left: 14px 8px !important;
    }
    .m-lg-5 {
        margin: 14px 8px !important;
    }
    .mt-lg-5,
    .my-lg-5 {
        margin-top: 14px 8px !important;
    }
    .mr-lg-5,
    .mx-lg-5 {
        margin-right: 14px 8px !important;
    }
    .mb-lg-5,
    .my-lg-5 {
        margin-bottom: 14px 8px !important;
    }
    .ml-lg-5,
    .mx-lg-5 {
        margin-left: 14px 8px !important;
    }
    .p-lg-1 {
        padding: 14px 8px !important;
    }
    .pt-lg-1,
    .py-lg-1 {
        padding-top: 14px 8px !important;
    }
    .pr-lg-1,
    .px-lg-1 {
        padding-right: 14px 8px !important;
    }
    .pb-lg-1,
    .py-lg-1 {
        padding-bottom: 14px 8px !important;
    }
    .pl-lg-1,
    .px-lg-1 {
        padding-left: 14px 8px !important;
    }
    .p-lg-2 {
        padding: 14px 8px !important;
    }
    .pt-lg-2,
    .py-lg-2 {
        padding-top: 14px 8px !important;
    }
    .pr-lg-2,
    .px-lg-2 {
        padding-right: 14px 8px !important;
    }
    .pb-lg-2,
    .py-lg-2 {
        padding-bottom: 14px 8px !important;
    }
    .pl-lg-2,
    .px-lg-2 {
        padding-left: 14px 8px !important;
    }
    .p-lg-3 {
        padding: 14px 8px !important;
    }
    .pt-lg-3,
    .py-lg-3 {
        padding-top: 14px 8px !important;
    }
    .pr-lg-3,
    .px-lg-3 {
        padding-right: 14px 8px !important;
    }
    .pb-lg-3,
    .py-lg-3 {
        padding-bottom: 14px 8px !important;
    }
    .pl-lg-3,
    .px-lg-3 {
        padding-left: 14px 8px !important;
    }
    .p-lg-4 {
        padding: 14px 8px !important;
    }
    .pt-lg-4,
    .py-lg-4 {
        padding-top: 14px 8px !important;
    }
    .pr-lg-4,
    .px-lg-4 {
        padding-right: 14px 8px !important;
    }
    .pb-lg-4,
    .py-lg-4 {
        padding-bottom: 14px 8px !important;
    }
    .pl-lg-4,
    .px-lg-4 {
        padding-left: 14px 8px !important;
    }
    .p-lg-5 {
        padding: 14px 8px !important;
    }
    .pt-lg-5,
    .py-lg-5 {
        padding-top: 14px 8px !important;
    }
    .pr-lg-5,
    .px-lg-5 {
        padding-right: 14px 8px !important;
    }
    .pb-lg-5,
    .py-lg-5 {
        padding-bottom: 14px 8px !important;
    }
    .pl-lg-5,
    .px-lg-5 {
        padding-left: 14px 8px !important;
    }
    .m-lg-n1 {
        margin: -14px 8px !important;
    }
    .mt-lg-n1,
    .my-lg-n1 {
        margin-top: -14px 8px !important;
    }
    .mr-lg-n1,
    .mx-lg-n1 {
        margin-right: -14px 8px !important;
    }
    .mb-lg-n1,
    .my-lg-n1 {
        margin-bottom: -14px 8px !important;
    }
    .ml-lg-n1,
    .mx-lg-n1 {
        margin-left: -14px 8px !important;
    }
    .m-lg-n2 {
        margin: -14px 8px !important;
    }
    .mt-lg-n2,
    .my-lg-n2 {
        margin-top: -14px 8px !important;
    }
    .mr-lg-n2,
    .mx-lg-n2 {
        margin-right: -14px 8px !important;
    }
    .mb-lg-n2,
    .my-lg-n2 {
        margin-bottom: -14px 8px !important;
    }
    .ml-lg-n2,
    .mx-lg-n2 {
        margin-left: -14px 8px !important;
    }
    .m-lg-n3 {
        margin: -14px 8px !important;
    }
    .mt-lg-n3,
    .my-lg-n3 {
        margin-top: -14px 8px !important;
    }
    .mr-lg-n3,
    .mx-lg-n3 {
        margin-right: -14px 8px !important;
    }
    .mb-lg-n3,
    .my-lg-n3 {
        margin-bottom: -14px 8px !important;
    }
    .ml-lg-n3,
    .mx-lg-n3 {
        margin-left: -14px 8px !important;
    }
    .m-lg-n4 {
        margin: -14px 8px !important;
    }
    .mt-lg-n4,
    .my-lg-n4 {
        margin-top: -14px 8px !important;
    }
    .mr-lg-n4,
    .mx-lg-n4 {
        margin-right: -14px 8px !important;
    }
    .mb-lg-n4,
    .my-lg-n4 {
        margin-bottom: -14px 8px !important;
    }
    .ml-lg-n4,
    .mx-lg-n4 {
        margin-left: -14px 8px !important;
    }
    .m-lg-n5 {
        margin: -14px 8px !important;
    }
    .mt-lg-n5,
    .my-lg-n5 {
        margin-top: -14px 8px !important;
    }
    .mr-lg-n5,
    .mx-lg-n5 {
        margin-right: -14px 8px !important;
    }
    .mb-lg-n5,
    .my-lg-n5 {
        margin-bottom: -14px 8px !important;
    }
    .ml-lg-n5,
    .mx-lg-n5 {
        margin-left: -14px 8px !important;
    }
}

@media (min-width: 1200px) {
    .m-xl-1 {
        margin: 14px 8px !important;
    }
    .mt-xl-1,
    .my-xl-1 {
        margin-top: 14px 8px !important;
    }
    .mr-xl-1,
    .mx-xl-1 {
        margin-right: 14px 8px !important;
    }
    .mb-xl-1,
    .my-xl-1 {
        margin-bottom: 14px 8px !important;
    }
    .ml-xl-1,
    .mx-xl-1 {
        margin-left: 14px 8px !important;
    }
    .m-xl-2 {
        margin: 14px 8px !important;
    }
    .mt-xl-2,
    .my-xl-2 {
        margin-top: 14px 8px !important;
    }
    .mr-xl-2,
    .mx-xl-2 {
        margin-right: 14px 8px !important;
    }
    .mb-xl-2,
    .my-xl-2 {
        margin-bottom: 14px 8px !important;
    }
    .ml-xl-2,
    .mx-xl-2 {
        margin-left: 14px 8px !important;
    }
    .m-xl-3 {
        margin: 14px 8px !important;
    }
    .mt-xl-3,
    .my-xl-3 {
        margin-top: 14px 8px !important;
    }
    .mr-xl-3,
    .mx-xl-3 {
        margin-right: 14px 8px !important;
    }
    .mb-xl-3,
    .my-xl-3 {
        margin-bottom: 14px 8px !important;
    }
    .ml-xl-3,
    .mx-xl-3 {
        margin-left: 14px 8px !important;
    }
    .m-xl-4 {
        margin: 14px 8px !important;
    }
    .mt-xl-4,
    .my-xl-4 {
        margin-top: 14px 8px !important;
    }
    .mr-xl-4,
    .mx-xl-4 {
        margin-right: 14px 8px !important;
    }
    .mb-xl-4,
    .my-xl-4 {
        margin-bottom: 14px 8px !important;
    }
    .ml-xl-4,
    .mx-xl-4 {
        margin-left: 14px 8px !important;
    }
    .m-xl-5 {
        margin: 14px 8px !important;
    }
    .mt-xl-5,
    .my-xl-5 {
        margin-top: 14px 8px !important;
    }
    .mr-xl-5,
    .mx-xl-5 {
        margin-right: 14px 8px !important;
    }
    .mb-xl-5,
    .my-xl-5 {
        margin-bottom: 14px 8px !important;
    }
    .ml-xl-5,
    .mx-xl-5 {
        margin-left: 14px 8px !important;
    }
    .p-xl-1 {
        padding: 14px 8px !important;
    }
    .pt-xl-1,
    .py-xl-1 {
        padding-top: 14px 8px !important;
    }
    .pr-xl-1,
    .px-xl-1 {
        padding-right: 14px 8px !important;
    }
    .pb-xl-1,
    .py-xl-1 {
        padding-bottom: 14px 8px !important;
    }
    .pl-xl-1,
    .px-xl-1 {
        padding-left: 14px 8px !important;
    }
    .p-xl-2 {
        padding: 14px 8px !important;
    }
    .pt-xl-2,
    .py-xl-2 {
        padding-top: 14px 8px !important;
    }
    .pr-xl-2,
    .px-xl-2 {
        padding-right: 14px 8px !important;
    }
    .pb-xl-2,
    .py-xl-2 {
        padding-bottom: 14px 8px !important;
    }
    .pl-xl-2,
    .px-xl-2 {
        padding-left: 14px 8px !important;
    }
    .p-xl-3 {
        padding: 14px 8px !important;
    }
    .pt-xl-3,
    .py-xl-3 {
        padding-top: 14px 8px !important;
    }
    .pr-xl-3,
    .px-xl-3 {
        padding-right: 14px 8px !important;
    }
    .pb-xl-3,
    .py-xl-3 {
        padding-bottom: 14px 8px !important;
    }
    .pl-xl-3,
    .px-xl-3 {
        padding-left: 14px 8px !important;
    }
    .p-xl-4 {
        padding: 14px 8px !important;
    }
    .pt-xl-4,
    .py-xl-4 {
        padding-top: 14px 8px !important;
    }
    .pr-xl-4,
    .px-xl-4 {
        padding-right: 14px 8px !important;
    }
    .pb-xl-4,
    .py-xl-4 {
        padding-bottom: 14px 8px !important;
    }
    .pl-xl-4,
    .px-xl-4 {
        padding-left: 14px 8px !important;
    }
    .p-xl-5 {
        padding: 14px 8px !important;
    }
    .pt-xl-5,
    .py-xl-5 {
        padding-top: 14px 8px !important;
    }
    .pr-xl-5,
    .px-xl-5 {
        padding-right: 14px 8px !important;
    }
    .pb-xl-5,
    .py-xl-5 {
        padding-bottom: 14px 8px !important;
    }
    .pl-xl-5,
    .px-xl-5 {
        padding-left: 14px 8px !important;
    }
    .m-xl-n1 {
        margin: -14px 8px !important;
    }
    .mt-xl-n1,
    .my-xl-n1 {
        margin-top: -14px 8px !important;
    }
    .mr-xl-n1,
    .mx-xl-n1 {
        margin-right: -14px 8px !important;
    }
    .mb-xl-n1,
    .my-xl-n1 {
        margin-bottom: -14px 8px !important;
    }
    .ml-xl-n1,
    .mx-xl-n1 {
        margin-left: -14px 8px !important;
    }
    .m-xl-n2 {
        margin: -14px 8px !important;
    }
    .mt-xl-n2,
    .my-xl-n2 {
        margin-top: -14px 8px !important;
    }
    .mr-xl-n2,
    .mx-xl-n2 {
        margin-right: -14px 8px !important;
    }
    .mb-xl-n2,
    .my-xl-n2 {
        margin-bottom: -14px 8px !important;
    }
    .ml-xl-n2,
    .mx-xl-n2 {
        margin-left: -14px 8px !important;
    }
    .m-xl-n3 {
        margin: -14px 8px !important;
    }
    .mt-xl-n3,
    .my-xl-n3 {
        margin-top: -14px 8px !important;
    }
    .mr-xl-n3,
    .mx-xl-n3 {
        margin-right: -14px 8px !important;
    }
    .mb-xl-n3,
    .my-xl-n3 {
        margin-bottom: -14px 8px !important;
    }
    .ml-xl-n3,
    .mx-xl-n3 {
        margin-left: -14px 8px !important;
    }
    .m-xl-n4 {
        margin: -14px 8px !important;
    }
    .mt-xl-n4,
    .my-xl-n4 {
        margin-top: -14px 8px !important;
    }
    .mr-xl-n4,
    .mx-xl-n4 {
        margin-right: -14px 8px !important;
    }
    .mb-xl-n4,
    .my-xl-n4 {
        margin-bottom: -14px 8px !important;
    }
    .ml-xl-n4,
    .mx-xl-n4 {
        margin-left: -14px 8px !important;
    }
    .m-xl-n5 {
        margin: -14px 8px !important;
    }
    .mt-xl-n5,
    .my-xl-n5 {
        margin-top: -14px 8px !important;
    }
    .mr-xl-n5,
    .mx-xl-n5 {
        margin-right: -14px 8px !important;
    }
    .mb-xl-n5,
    .my-xl-n5 {
        margin-bottom: -14px 8px !important;
    }
    .ml-xl-n5,
    .mx-xl-n5 {
        margin-left: -14px 8px !important;
    }
}
