@font-face {
    font-family: 'DOS';
    src: url("fonts/Px437_IBM_EGA8.otf") format("opentype"), url("fonts/Px437_IBM_EGA8.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    -webkit-font-kerning: none;
    font-kerning: none;
    font-synthesis: none;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-variant-numeric: tabular-nums;
}


html {
    font-family: 'DOS', monospace;
    line-height: 14px;
    line-height-step: 14px;
}


body {
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    line-height: 14px;
    font-size: 16px;
    color: #bbbbbb;
    background-color: #000084;
    -webkit-font-kerning: none;
    font-kerning: none;
}



h1, h2, h3, h4, h5, h6 {
    margin-bottom: 14px;
    font-weight: normal;
}

p {
    margin-bottom: 14px;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: none;
}

address {
    margin-bottom: 14px;
}

ol,
ul,
dl {
    margin-left: 8px;
    padding-left: 0;
    margin-bottom: 14px;
}

li {
    padding-left: 8px;
}

dt {
    font-weight: 400;
}

dd {
    margin-bottom: 14px;
}

blockquote {
    margin: 0 0 14px;
}

b,
strong {
    font-weight: normal;
    &::after,
    &::before {
        content: '*';
    }
}

small {
    font-size: 16px;
}

sub,
sup {
    font-size: 100%;
}

sub {
    bottom: 0;
}

sup {
    top: 0;
}

a {
    color: #ff5;
    &:hover {
        color: #fff;
        background-color: #aa5500;
    }
}

em {
    font-style: normal;
    &::after,
    &::before {
        content: "/";
    }
}

pre,
code,
kbd,
samp {
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 16px;
}

pre {
    margin-bottom: 14px;
}

figure {
    margin: 0 0 14px;
}

table {
    border-spacing: 0;
}

caption {
    padding-top: 0;
    padding-bottom: 0;
    color: #555555;
}

th {
    font-weight: normal;
    color: #fff;
}

label {
    margin-bottom: 0;
}

button {
    padding: 0;
    &:focus {
        outline: 0px dotted;
    }
}

input,
button,
select,
optgroup,
textarea {
    font: 400 16px "DOS" !important;
}

option {
    padding: 0;
}

legend {
    margin-bottom: 14px;
    font-size: 16px;
}
