<ng-container
    *ngIf="this.headers"
>
    <a
        class="navbar-brand d-md-none"
        href="#{{ this.firstHdr.id }}"
        *ngIf="this.firstHdr"
    >
        <img
            alt="pic"
            class="mr-1"
            src="https://www.gravatar.com/avatar/264a95a6903d8a3324bd8d88d4792e01"
        />
        <span
            [innerHtml]="this.firstHdr.text"
        ></span>
    </a>
    <button
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target="#navbarCollapse"
        data-toggle="collapse"
        type="button"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="
            flex-column
            nav
            nav-pills
        ">
            <li
                [class.active]="this.hdr.id === this.activeNavId"
                class="nav-item"
                *ngFor="let hdr of this.headers"
            >
                <a
                    [class.active]="this.hdr.id === this.activeNavId"
                    class="nav-link"
                    href="#{{ hdr.id }}"
                    [innerHtml]="hdr.text"
                ></a>
            </li>
        </ul>
    </div>
</ng-container>
