<!-- XXX px-0 is for sm -->
<div
    class="
        container
        px-0
    "
>
    <div
        class="
            row
            no-gutters
        "
    >
        <!-- XXX sticky-top on the col => sticks to top in sm -->
        <div
            class="
                col-md-3
                col-lg-2
                d-print-none
                overflow-auto
                sticky-top
                -vh-md-100
            "
        >
            <!-- XXX sticky-top here => sticks to top in md+ -->
            <div
                class="
                    pr-md-4
                    pt-md-5
                    sticky-top
                "
            >
                <!-- XXX bg-light here is for sm -->
                <app-resume-nav
                    class="
                        bg-light
                        d-md-block
                        navbar
                        navbar-expand-md
                        navbar-light
                        -shadow-md-lg
                        -shadow-md-lg-hoverdarken
                        shadow-none
                "
                ></app-resume-nav>
                <div
                    class="
                        btn-group
                        d-md-block
                        d-none
                    "
                >
                    <button
                        class="
                            btn
                            btn-lg
                            btn-light
                            my-3
                            -shadow-md
                            -shadow-md-hoverdarken
                            shadow-none
                        "
                        (click)="this.onClickPrint()"
                    >
                        <i class="fa fa-print"></i>
                        PDF
                    </button>
                </div>
            </div>
        </div>
        <div
            class="
                col-auto
                col-md
                -col-print-12
            "
        >
            <div
                class="
                    bg-white
                    d-flex
                    my-md-5
                    -my-print-0
                    p-3
                    p-md-5
                    position-relative
                    -p-print-0
                    -shadow-md
                    shadow-none
                "
            >
                <app-forkme
                    alignment="right"
                    url="https://codeberg.org/h3xx/resume"
                    text2="On Codeberg"
                    class="
                        d-md-block
                        d-none
                        d-print-none
                    "
                >
                </app-forkme>
                <app-resume-text
                    #resumeText
                ></app-resume-text>
            </div>
        </div>
	</div>
</div>
