@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.navbar-brand {
    img {
        max-width: 1.5em;
        max-height: 1.5em;
    }
}

/*
nav {
    position: fixed;

    @media only screen and (max-width: 650px) {
        background-color: #000;
        // float: left;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        font-size: 0.8rem;
    }

    @media only screen and (max-width: 650px) {
        .scroller {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            // float: left;

            .inner {
                width: 2000px;
            }
        }
    }

    .navitem, .social-links {
        padding-top: 1.5rem;
        display: block;
        position: relative;
        @media only screen and (max-width: 650px) {
            // float: left;
            // padding: 2.6rem 1.1rem 1.8rem;
            padding: 1em;
            display: inline-block;
        }
    }

    .navitem {
        border-right: 2px solid #000000;
        padding-right: 1em;
        text-transform: uppercase;

        @media only screen and (max-width: 650px) {
            color: #888;
            border: none;
        }

        &::after {
            background: #FFFFFF;
            border-radius: 1rem;
            border: 2px solid #000000;
            content: "";
            display: block;
            height: 1.1rem;
            opacity: 0;
            position: absolute;
            right: -0.8rem;
            top: 1.7rem;
            transition: opacity .2s ease-out;
            width: 1.1rem;
            z-index: 2;
        }
        &.active::after {
            opacity: 1;
            @media only screen and (max-width: 650px) {
                color: #fff;
            }
        }
    }

    .social-links {
        @media only screen and (max-width: 650px) {
            display: none;
        }
        a {
            background-repeat: no-repeat;
            background-size: contain;
            color: #888;
            display: block;
            padding-left: 1.9rem;
            margin-top: 1rem;
        }

        .github {
            background-image: url(github.svg);
        }
        .stackoverflow {
            background-image: url(stackoverflow.svg);
        }

    }

    a {
        color: #000;
        text-decoration: none;
    }

}
*/
