<app-resume
    (printClicked)="this.onPrintClicked()"
></app-resume>

<!--
    Note: class="cookie_content" here will hide it if you're filtering cookie
    banners. It was a lame joke anyway. .cookie_content was chosen because it
    appears in BOTH EasyList Cookie Notices AND uBlock filters Cookie Notices
    (as of 2025-10-25). If you have either enabled, it should hide and not
    bother you.
-->
<app-cookie-msg
    class="
        cookie_content
        d-print-none
    "
></app-cookie-msg>

<app-clippy
    (animationFinished)="this.onClippyFinished()"
    #clippy
    cdkDrag
    class="
        position-fixed
        d-none
        d-print-none
        d-md-block
    "
    [dialogContent]="this.dialogContent"
    *ngIf="this.showingClippy"
    style="bottom: 50px; right: 225px;"
></app-clippy>

<ng-template #dlg>
    <div>
        {{ this.clippySays }}
    </div>
    <div
        class="
            mt-2
            text-center
        "
    >
        <button
            class="
                mr-1
            "
            (click)="this.onClippyOk()"
        >
            <div class="bullet"></div>
            OK
        </button>
        <button
            (click)="this.onClippyDismiss()"
        >
            Dismiss
        </button>
    </div>
</ng-template>
