@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

a {
    color: var(--info);
    text-decoration: none;
}

footer {
    border-color: #eaecef;
    border-top: 1px #e1e4e8 solid;
    color: #586069;
    margin-bottom: 0;
    margin-top: 32px;
    padding-top: 16px;
    text-align: right;
}

ngx-md {
    display: block;
    font-size: 18px;

    @media only screen {
        a.external {
            background-image: url(external-link.svg);
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 0.857em;
            padding-right: 1em;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        break-after: avoid;
        break-inside: avoid;
        font-family: Optimum;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 16px;
        margin-top: 24px;
    }
    h2, h3 {
        padding-bottom: 0.3em;
    }
    h1, h2 {
        letter-spacing: 0.18em;
        text-transform: uppercase;
    }
    h1 {
        // I.e. my name
        font-size: 2.5em;
        margin-bottom: 0;
        padding-bottom: 0;
        letter-spacing: 0.2em;
        text-align: center;
        @media print {
            margin-top: 0 !important; // don't waste paper!
        }
        // hide the big <h1> in small screen mode (appears as navbar-brand)
        // note: Without @media query here, media-breakpoint-down(sm) affects print form
        @media screen {
            &:first-of-type {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
        // subtitle under my name
        &:first-of-type + p {
            border-bottom: 1px solid #eaecef;
            color: rgba(black, 0.6);
            font-family: Optimum;
            padding-bottom: 0.5em;
            text-align: center;
        }
    }
    h2 {
        border-bottom: 1px solid #eaecef;
        font-size: 1.5em;
    }
    h3, h4 {
        font-size: 1em;
    }

    p {
        margin-top: 0;
        margin-bottom: 16px;
        @media print {
            margin-bottom: 0 !important; // don't waste paper!
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;

            &:nth-child(2n) {
                background-color: #f6f8fa;
            }
        }

        th, td {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
        }
    }

}
