<!--
    Note: sanitizeHtml=true will strip id attributes from <h[1-6]> and we need that for navigation.
-->
<ngx-md
    path="assets/README.md"
    [sanitizeHtml]="false"
    (loaded)="this.onMarkdownLoad()"
></ngx-md>

<footer
    class="d-print-none"
>
	This site is open source. <a href="https://codeberg.org/h3xx/resume">Improve this page</a>.
</footer>
