@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$qrcode-width: 115px;
$qrcode-width-md: $qrcode-width * 0.75;
$qrcode-width-sm: $qrcode-width * 0.5;

a {
    color: var(--info);
    text-decoration: none;
}

footer {
    border-color: #eaecef;
    border-top: 1px #e1e4e8 solid;
    color: #586069;
    margin-bottom: 0;
    margin-top: 32px;
    padding-top: 16px;
    text-align: right;
}

.qr {
    float: right;
    // Move out from under "Fork Me"
    margin: 15px;
    max-width: $qrcode-width;
    text-align: center;
    @include media-breakpoint-down(md) {
        max-width: $qrcode-width-md;
    }
    @include media-breakpoint-down(sm) {
        // No "Fork Me" in sm
        margin: 0;
        max-width: $qrcode-width-sm;
    }
    @media print {
        // Make align with first header
        margin: 0 !important;
    }
}

ngx-md {
    display: block;
    font-size: 16px;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25
    }
    h1, h2 {
        border-bottom: 1px solid #eaecef;
    }
    h1 {
        padding-bottom: 0.3em;
        font-size: 2em;
        @media print {
            margin-top: 0 !important; // don't waste paper!
        }
        // hide the big <h1> in small screen mode (appears as navbar-brand)
        &:first-of-type {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    h2 {
        font-size: 1.5em;
        padding-bottom: 0.3em;
    }

    p {
        margin-top: 0;
        margin-bottom: 16px;
        @media print {
            margin-bottom: 0 !important; // don't waste paper!
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;

            &:nth-child(2n) {
                background-color: #f6f8fa;
            }
        }

        th, td {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
        }
    }

}
