:host {
    background-color: var(--gray);
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
    box-shadow: 0 0 4px 1px var(--light);
    color: var(--light);
    font-size: 15px;
    font-weight: bold;
    outline: 1px solid var(--gray);
    padding: 3px 0;
    position: fixed;
    text-align: center;
    width: 250px;
    z-index: 10;

    &.right {
        right: -68px;
        top: 45px;
        transform: rotate(45deg);
    }

    &.left {
        left: -68px;
        top: 45px;
        transform: rotate(315deg);
    }

}

a {
    text-decoration: none !important;
    color: inherit !important;
}
