@font-face {
    font-family: 'Optimum';
    src: url('optimum-r.woff2') format('woff2'),
         url('optimum-r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Optimum';
    src: url('optimum-ri.woff2') format('woff2'),
         url('optimum-ri.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Optimum';
    src: url('optimum-b.woff2') format('woff2'),
         url('optimum-b.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Optimum';
    src: url('optimum-bi.woff2') format('woff2'),
         url('optimum-bi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
