<div class="qr" *ngIf="this.qrcodeUrl">
	<qrcode
		[qrdata]="this.qrcodeUrl"
		width="166"
		errorCorrectionLevel="M"
	></qrcode>
	{{ this.qrcodeCaption }}
</div>

<!--
	Note: sanitizeHtml=true will strip id attributes from <h[1-6]> and we need that for navigation.
-->
<ngx-md
	path="assets/README.md"
	[sanitizeHtml]="false"
	(loaded)="this.onMarkdownLoad()"
></ngx-md>

<footer>
	This site is open source. <a href="https://github.com/h3xx/resume/edit/master/README.md">Improve this page</a>.
</footer>
